.entity {
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid red;
}

.entity .image {
  position: absolute;
  background-color: #48b;
  background-repeat: no-repeat;
  background-position: center center;
}

.entity .image:first-child {
  bottom: 0;
  left: -50%;
}
