canvas#screen {
  border: 2px solid #ccc;
}

.obj {
  position: absolute;
  top: -10000px;
  left: -10000px
  width: 1px;
  height: 1px;
  border: 1px solid #ddd;
}

#fps {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9aa;
  padding: 5px;
  color: #fff;
  font-family: 'Courier New'
  font-size: 14px;
  font-weight: bold;
}

#player {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 25px;
  height: 50px;
  background-color: #38b;
}

#point {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 2px;
  background-color: red;
}
